.screen-border{
  background-color: #24235398;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.screen{
    display: block;
    padding: 20px;
  }

  .word{
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin: 10px 0;
  }
  
  .letter{
    min-width: 20px;
    min-height: 40px;
    font-size: 25px;
    font-weight: 700;
    color: #000;
    border: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .letter-background{
    background-color: #fff;
  }
  